<%- include('header.ejs') %>
    <body>
        <h1>Repositories</h1>
        <form action="/repositories" method="get">
            <input type="text" name="filter" value="<%= filter %>">
            <button type="submit">Filter</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Description</th>
                    <th>License</th>
                </tr>
            <% repositories.forEach((repository) => { %>
                <tr>
                    <td><a href="/repositories/<%= repository.id %>"><%= repository.name %></a></td>
                    <td><%= repository.name %></td>
                    <td><%= repository.description %></td>
                    <td><%= repository.license %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <% if (totalPages > 1) { %>
            <div>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <a href="/repositories?page=<%= i %>&filter=<%= filter %>"><%= i %></a>
                <% } %>
            </div>
        <% } %>
    </body>
</html>